*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #171717;
}
/*body:hover{
    filter: opacity(60%);
    transition: all 0.1s;
}*/
.pic{
    margin-top: 0;
}
.pic:hover{
    filter: opacity(60%);
    transition: all 0.1s;
}
.pic:hover #save{
  
}
.frame {
    position: relative;
    display: flex;
    border-radius: 20px;    
    overflow: hidden;
}
.style{
    margin-bottom: 10rem;
}
.icons{
    display: flex;
    flex-direction: row;
    /*position: relative*/;
}
.icons:hover{
/*position: relative;*/
}
#save:hover{
    transform: translateY(400px);
}
#save{
    position: absolute;
    top: 100px;
    left: 380px;
    background-color: red;
    border-radius: 35px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    transform: translateY(0px);
}
#up-right{
    position: absolute;
    top: 570px;
    left: 70px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    padding: 7px;
    height: 35px;
}
#up{
    position: absolute;
    top: 570px;
    left: 350px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    height: 35px;
    width: 35px;
    }
#dots{
    margin-bottom: 10px;
    width: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 570px;
    left: 400px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    padding: 7px;
    height: 35px;
    width: 35px;
}